*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
    display: flex;
    background-color: #001E6C;
    width: 100%;
}
.navbar h1{
    text-transform: uppercase;
    margin-left: 5%;
    color: #035397;
    width: 100%;
    font-size: 45px;
    font-weight: 800;
}
.navbar span{
    color: #5089C6
}

.nav-lists {
  margin-right: 5%;
  width: 100%;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul.nav-lists li {
    text-transform:capitalize ;
    padding: 0px 15px;
    color: #5089C6;
    font-size: 1.6rem;
    font-weight: bold;
}

ul a{
    color: inherit;
    list-style: none;
    text-decoration: inherit;
}

ul a:hover{
    text-decoration: underline;
    text-decoration-color: #FFAA4C;
}

/* hero start here */
.hero-slide {
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
  animation: slide 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url(src/images/bg/bg-1.jpg);
}

@keyframes slide {
  0% {
    background-image: url(src/images/bg/bg-1.jpg),
      url(src/images/bg/bg-2.jpg);
  }
  50% {
    background-image: url(src/images/bg-2.jpg),
      url(src/images/bg/bg-3.jpg);
  }
  100% {
    background-image: url(src/images/bg/bg-3.jpg),
      url(src/images/bg/bg-1.jpg);
  }
}

.hero-text h1{
    color: #001E6C;
    text-align: center;
    font-size: 3.75rem;
    font-weight:bolder;
}

.hero-text P{
    color: #035397 }

.cta {
  margin-top: 20px;
  border-radius: 35px;
  text-align: center;
  background-color: #FFAA4C;
  padding: 16px 48px;
}

a.cta{
    color: #035397;
    list-style: none;
    text-decoration: inherit;
}

a.cta:hover{
    text-decoration: underline;
    text-decoration-color: #001E6C;
}